<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" vocab="http://schema.org">
<head>
  <title><%= @title %></title>
  <meta charset="utf-8" />
  <meta name="description" content="路線図を描く" />
  <meta name="keywords" content="東京メトロAPI" />
  <meta name="author" content="sfpgmr" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="css/main.min.css" />
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js" data-main="Scripts/main.js"></script>
  <script type="text/javascript">
  if (!location.href.match(/localhost/)) {
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15457703-9']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  }
  </script>
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div><a class="navbar-brand" href="#" property="headLine" id="headLine" style="margin-top:auto;margin-bottom:auto;"><img src="img/TokyoMetro.png" width="24" height="24" style="display:inline" />&nbsp;<%= @title %></a></div>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#" data-toggle="modal" data-target="#trainInfo">運行情報</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">時刻表<span class="caret"></span></a>
            <ul class="dropdown-menu multi-level" role="menu" id="time-table-dropdown"></ul>
          </li>
        </ul>
        <p class="navbar-text navbar-right"><a href="#" class="navbar-link" data-toggle="modal" data-target="#manual"><span class="glyphicon glyphicon-question-sign"></span></a></p>

      </div>
    </div>
  </header>
  <article id="article" typeof="Article">
    <div property="articleBody" id="articleBody" class="container">
      <%- @articleBody %>
    </div>
  </article>
  <footer id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-3" property="creator" id="creator">
          <div typeof="person" id="creatorPerson">
            <span property="name" id="creatorName"><a href="http://www.enoie.net/">S.F.</a></span>
          </div>
        </div>
        <div class="col-xs-3 text-center"><button class="btn btn-xs" id="trainInfoBtn" data-toggle="modal" data-target="#trainInfo">正常運転中</button></div>
        <div class="col-xs-6 text-right"><small><time id="date" property="dc:date"></time></small></div>
      </div>
    </div>
  </footer>
  <div class="modal fade" id="trainInfo" tabindex="-1" role="dialog" aria-labelledby="運行情報" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="trainInfoTitle">運行情報&nbsp;<small><time id="modelDate" property="dc:date"></time>現在</small></h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed">
            <thead><tr><th class="line">路線</th><th class="status">状況</th></tr></thead>
            <tbody id="trainInfoBody"></tbody>
          </table>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="stationInfo" tabindex="-1" role="dialog" aria-labelledby="駅時刻表" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="stationInfoTitle">時刻表&nbsp;</h4>
        </div>
        <div class="modal-body" id="stationInfoBody">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" id="stationInfoTab">
          </ul>

          <!-- Tab panes -->
          <div class="tab-content" id="stationInfoTabContent">
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- マニュアル -->
  <div class="modal fade" id="manual" tabindex="-1" role="dialog" aria-labelledby="マニュアル" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <header class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="stationInfoTitle">操作マニュアル</h4>
        </header>
        <article class="modal-body">
          <section>

          </section>
        </article>
        <footer class="modal-footer">

        </footer>
      </div>
    </div>
  </div>
</body>
</html>